body {
  display: flex;
  flex-direction:column; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color:  rgb(149, 152, 156);
  
} 

h2{
  margin-bottom: -5px;
}


canvas {
  border: 1px solid black;
  border-radius: 20px;
  background-color:black;    
  max-width: 95vw;
  max-height: 90vh;
  display: block;
} 

